-var url = " " + "b" + "uild/";

doctype html5
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, minimun-scale=1.0")
    link(rel="stylesheet", href= url + "css/style.min.css")
    link(rel="stylesheet", href= "https://fonts.googleapis.com/css?family=Roboto")
    link(rel="stylesheet", href= "https://fonts.googleapis.com/css?family=Varela+Round")
    title J. H. R. Abogados
  body
    include src/views/blocks/header
    include src/views/blocks/slider
    include src/views/blocks/firma
    include src/views/blocks/practicas
    include src/views/blocks/contacto
    include src/views/blocks/footer
 
    //script( src = url + 'js/final.js')

