header {
  background: $fondo-header;
  text-align: center;
  width: 100%;
}

.logo {
  text-align: center;
  padding: 100px 0;
  a{
    display: block;
    text-align: center;
  }

  img {
    margin: 0 auto;
  }


}
