$aliceblue: #f0f8ff;
$black: #000;
$gray-silver: #ccc;
$green-wild-willow: #b0cc72;
$white: #fff;
$orange-jaffa: #ef7d40;

$color-borde-input: $gray-silver;
$color-letra1: $black;
$color-letra-slider: $white;
$fondo-header: $white;
$fondo-body: $white;
$fondo-boton-contacto: $green-wild-willow;
