@import 'common/mixins';
@import 'common/typography';
@import 'common/colors';
@import 'components/header';
@import 'components/slider';
@import 'components/firma';
@import 'components/practicas';
@import 'components/contacto';
@import 'components/footer';

body {
  background-color: $fondo-body;
  color: $color-letra1;
  margin: 0;
}
     