.contacto
  h2.contacto__titulo
  .contacto__izquierda
    form.contacto__formulario(action='mailto:johanvargas@outlook.com' method='post' enctype="text/plain")
      input.stylish(type="text" placeholder="NOMBRE COMPLETO" name="name")
      input.stylish(type="text" placeholder="EMAIL" name="_replyto")
      textarea.stylish(placeholder="MENSAJE" name="mensaje")
      input.contacto__boton-enviar(type="submit" name="submit" value="Enviar")
  .contacto__derecha
    p.contacto__informacion INFORMACIÓN DE CONTACTO
    ul.contacto__lista
      li 57.1.5897680
      li info@jhrcorp.co
      li.
        Bogotá D.C., Colombia
        Calle 93B No. 12 - 18 Piso 4