.firma
  h2.firma__titulo 
  .firma__logo
    img.firma__logo-img( src=url + 'images-op/logo-l.png')
  .firma__texto
    p.
      Jiménez, Higuita, Rodríguez &amp; Asociados es una firma especializada en las áreas del derecho tributario, aduanero y cambiario, compuesta por un equipo de profesionales expertos en estas disciplinas, con una experiencia de más de quince años en la asesoría de compañías nacionales y extranjeras, públicas y privadas.
    p.
      Nuestra Firma se funda en el conocimiento, experiencia y reconocimiento que en esos ámbitos tienen sus socios y asociados.

    p.
      Nuestro servicio es personalizado e integral y se presta con profesionalismo, responsabilidad y compromiso, consultando las necesidades particulares de cada cliente.

