.practicas
  .practicas__texto
    h2.practicas__titulo 
    ul.practicas__lista
      li Asesoría tributaria local e internacional
      li Planeación tributaria local e internacional
      li Asesoría aduanera
      li Asesoría cambiaria
      li Litigios tributarios, aduaneros y cambiarios
      li Planeación de patrimonios de familia 
      li Outsourcing tributario
      li Precios de transferencia 
      li Derecho corporativo y comercial
      li Asesoría laboral, seguridad social y fiscalizaciones UGPP
    p.practicas__conozca conozca en detalle nuestro portafolio de servicios
    a.practicas__boton(href="http://jhrcorp.co/data/Brochure-JHR.pdf" target="_blank") VER PDF
    span.practicas__pdf-label BROCHURE CORPORATIVO-JHR

