.slider
  .slider__slide
    .slider__caption
      h2.slider__titulo BIENVENIDO  
      p.slider__texto Estamos actualizando nuestro sitio web. queremos  brindarle la mejor asesoría online, por eso lo invitamos a contactarse con nosotros para mayor información
      a.slider__down  